<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="./styles/fonts.css">
</head>
<body class="mujinote__ index_">

	<h1>시작하기</h1>
	<p>부담없이 끄적이면서 웹에 필요한 것들을 생각하고 만들고 정리하는 용도로 사용</p>

	<h2>사이트</h2>
	<ul>
		<li><a href="http://mujinote.github.io/www/index.html">크로스브라우저 대응 시작하기 x mujinote</a></li>
		<li>mn-components는 mujinote에서 사용하는 components를 정의하고 테스트할 목적</li>
		<li>learn-*, 크게 의미를 갖지 않고 테스트를 위한 임시 공간</li>
		<li>www-*, 하위호환성을 고려한 개발/테스트 목적</li>
	</ul>

	<h2>포스트</h2>
	{{ content }}

</body>
</html>
