@charset "utf-8"; 

.mujinote__ { -webkit-text-size-adjust: 100%; }
.mujinote__ {
	font-size: 14px; 
	font-family: '맑은 고딕', sans-serif;
	line-height: 1.6; 
}

.mujinote__ h1 { font-size: 1.2em; }
.mujinote__ h2 { font-size: 1em; }
.mujinote__ a { text-decoration: none; }




.contentinfo { padding: 1em; background-color: #f5f5f5; }
.contentinfo p {
	display: block;
	margin: 0; 
	font-size: .9em; 
}