@charset "utf-8"; 

/*.mujinote__ { -webkit-text-size-adjust: 100%; }*/
.mujinote__ {
	font-size: 15px;
	font-family: '맑은 고딕', verdana;
	line-height: 1.6; 
	color: #333; 
}

.mujinote__ h1 { font-size: 1.2em; }
.mujinote__ h2 { font-size: 1em; }

.mujinote__ ul, 
.mujinote__ ol, 
.mujinote__ pre {
	margin-bottom: 2em; 
}

.mujinote__ li ul,
.mujinote__ li ol { 
	margin-bottom: 0; 
}